[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pyinstaller = "*"
testfixtures = "*"
nose = "*"
coverage = "*"
mock = "*"


[packages]

requests = "*"
imdbpie = "*"
tvdb-api = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
pytz = "*"
futures = "*"
tmdbsimple = "*"
